
@font-face {
  font-family: "ProximaNovaLight";
  src: url("../../fonts/ProximaNovaLight/ProximaNova-Light.eot");
  src: url("../../fonts/ProximaNovaLight/ProximaNova-Light.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/ProximaNovaLight/ProximaNova-Light.woff") format("woff"),
  url("../../fonts/ProximaNovaLight/ProximaNova-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNovaBold";
  src: url("../../fonts/ProximaNovaBold/ProximaNova-Bold.eot");
  src: url("../../fonts/ProximaNovaBold/ProximaNova-Bold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/ProximaNovaBold/ProximaNova-Bold.woff") format("woff"),
  url("../../fonts/ProximaNovaBold/ProximaNova-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "ArialBold";
  src: url("../../fonts/ArialBold/ArialBold.eot");
  src: url("../../fonts/ArialBold/ArialBold.eot?#iefix")format("embedded-opentype"),
  url("../../fonts/ArialBold/ArialBold.woff") format("woff"),
  url("../../fonts/ArialBold/ArialBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}